<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강좌 상세 페이지</title>
    <style>

    </style>
</head>
<body>
    <h1>강좌 상세 정보</h1>

    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div>
        <h2>강좌명 : <span th:text="${detail.subject}"></span></h2>
        <div th:utext="${detail.contents}"></div>
        <div>
            <p>가격 : <span th:text="${detail.price}">0</span></p>
            <p>할인가격 : <span th:text="${detail.salePrice}">0</span></p>
        </div>
    </div>
</body>
</html>